<template>
  <div class="home">
    <v-container>
      <v-row class="text-center">
        <v-col>
          <v-btn class="ma-4" color="info" @click="createTable()">
            <div v-if="isDarkMode">Create</div>
            <div v-else class="black--text">Create</div>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import router from "@/router";

@Component({
  computed: {
    isDarkMode() {
      return this.$vuetify.theme.dark;
    }
  },
  methods: {
    async createTable() {
      await this.$store.dispatch("createTable");
      const tableId = this.$store.state.tableId;
      await router.push({ path: `/table/${tableId}` });
    }
  },
  async created() {
    // Dirty hack because firebase hosting does not support dynamic urls
    const pathname = window.location.pathname.split("/");
    if (pathname.includes("table")) {
      const tableId = pathname.slice(-1)[0];
      await this.$store.dispatch("joinTable", tableId);
      await router.push({ path: `/table/${tableId}` });
    }
  }
})
export default class Home extends Vue {}
</script>
