<template>
  <div class="result">
    <v-container>
      <v-row class="text-center">
        <v-col>
          <v-container class="chart-container">
            <bar-chart
              :chart-data="chartData"
              :options="chartOptions"
            ></bar-chart>
          </v-container>
          <v-btn class="ma-4" color="info" @click="resetTable">
            <div v-if="isDarkMode">Reset</div>
            <div v-else class="black--text">Reset</div>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import BarChart from "../components/BarChart.vue";
import { countVotes } from "@/business/votes";
import { legalVotes } from "@/model/model";

export default Vue.extend({
  name: "Result",
  components: { BarChart },
  computed: {
    chartOptions() {
      const isDarkMode: boolean = this.$vuetify.theme.dark;
      const gridLineColor = isDarkMode ? "#444444" : "#DDDDDD";
      return {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        scales: {
          xAxes: [
            {
              gridLines: {
                color: gridLineColor,
                zeroLineColor: gridLineColor
              },
              ticks: {
                fontColor: isDarkMode ? "white" : "black"
              },
              scaleLabel: {
                display: true,
                fontColor: isDarkMode ? "white" : "black",
                labelString: "Estimation [days]"
              }
            }
          ],
          yAxes: [
            {
              gridLines: {
                color: gridLineColor,
                zeroLineColor: gridLineColor
              },
              ticks: {
                beginAtZero: true,
                fontColor: isDarkMode ? "white" : "black",
                stepSize: 1
              },
              scaleLabel: {
                display: true,
                fontColor: isDarkMode ? "white" : "black",
                labelString: "Votes"
              }
            }
          ]
        }
      };
    },
    chartData() {
      const voteCount = countVotes(this.$store.getters.votes);
      const theme = this.$vuetify.theme.dark ? "dark" : "light";
      return {
        labels: legalVotes,
        datasets: [
          {
            backgroundColor: this.$vuetify.theme.themes[theme].secondary,
            data: voteCount
          }
        ]
      };
    },
    isDarkMode() {
      return this.$vuetify.theme.dark;
    }
  },
  methods: {
    async resetTable() {
      await this.$store.dispatch("resetTable");
    }
  }
});
</script>

<style scoped lang="scss">
::v-deep .chart-container {
  max-width: 600px;
  flex-grow: 1;
}
</style>
