<template>
  <div class="table">
    <v-container>
      <div v-if="isVoteFinished">
        <result></result>
      </div>
      <div v-else>
        <div class="ma-4 text-center">
          How many days will this story take?
        </div>
        <v-row class="align-center justify-center">
          <v-col v-for="e in legalVotes" v-bind:key="e" class="flex-grow-0">
            <vote-button :value="e"></vote-button>
          </v-col>
        </v-row>
        <div class="ma-4 text-center">
          {{ nCastVotes }} / {{ nRequiredVotes }} votes
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
import Vue from "vue";

import Result from "@/views/Result";
import VoteButton from "../components/VoteButton";
import { alivenessPeriodInSeconds } from "@/constants";
import { legalVotes } from "@/model/model";
import { nCastVotes, nRequiredVotes } from "@/business/votes";

export default Vue.extend({
  name: "Table",
  components: { Result, VoteButton },
  data: () => ({ legalVotes: legalVotes }),
  computed: {
    nCastVotes() {
      return nCastVotes(this.$store.getters.votes);
    },
    nRequiredVotes() {
      return nRequiredVotes(this.$store.getters.votes);
    },
    isVoteFinished() {
      const nCast = nCastVotes(this.$store.getters.votes);
      const nRequired = nRequiredVotes(this.$store.getters.votes);
      return nCast > 0 && nCast === nRequired;
    }
  },
  async created() {
    const tableId = this.$route.params.id;
    await this.$store.dispatch("joinTable", tableId);

    setInterval(
      function() {
        this.$store.dispatch("sendAliveness");
      }.bind(this),
      alivenessPeriodInSeconds * 1000
    );
  }
});
</script>
