<template>
  <v-card width="80px" height="120px" :color="color">
    <v-card-title class="align-center justify-center fill-height" @click="vote">
      {{ value }}
    </v-card-title>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";

import { isVoteByUser } from "@/business/votes";
import Component from "vue-class-component";

@Component({ props: { value: String } })
export default class extends Vue {
  get color() {
    const userVote = isVoteByUser(
      this.$store.getters.votes,
      this.$store.state.userId
    );
    return userVote === this.$props.value ? "accent" : "info";
  }

  async vote() {
    await this.$store.dispatch("vote", this.$props.value);
  }
}
</script>
