<template>
  <v-app :style="{ background: $vuetify.theme.themes[theme].background }">
    <v-app-bar app color="primary">
      <v-img
        :src="require('./assets/poquer.png')"
        max-height="42"
        max-width="42"
        contain
      ></v-img>
      <div class="black--text ml-4">
        Poquer
      </div>
      <v-spacer></v-spacer>
      <v-container class="fill-height justify-end align-center">
        <v-switch color="background" v-model="darkMode" @change="setDarkMode">
          Dark Mode
        </v-switch>
      </v-container>
    </v-app-bar>
    <v-main>
      <v-container>
        <router-view />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      darkMode: false
    };
  },
  computed: {
    theme() {
      return this.$vuetify.theme.dark ? "dark" : "light";
    }
  },
  methods: {
    setDarkMode() {
      this.$vuetify.theme.dark = this.darkMode;
    }
  }
};
</script>
